<div id="header" fxLayout="row">
  <div class="headerLogo" fxLayoutAlign="center center">
    <img src="./assets/img/logo.png" height="30px" alt="logo">
  </div>
  <div class="headerMenu" fxLayoutAlign="end center">
    <a mat-button [routerLink]='home'>home</a>
    <button mat-button [matMenuTriggerFor]="floor1">
      <span [translate]="'header.link1'"></span>
    </button>
    <mat-menu #floor1="matMenu">
      <a mat-menu-item>stanza 1 - Geologia</a>
      <a mat-menu-item>stanza 2 - Paleontologia</a>
      <a mat-menu-item>stanza 3 - Mesolitico</a>
      <a mat-menu-item>stanza 4 - Mondeval</a>
      <a mat-menu-item>stanza 5 - La sepoltura</a>
      <a mat-menu-item>stanza 6 - Ricostruzione virtuale</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="floor2">
      <span [translate]="'header.link2'"></span>
    </button>
    <mat-menu #floor2="matMenu">
      <a mat-menu-item>stanza 7 - Preistoria</a>
      <a mat-menu-item>stanza 8 - Le steli</a>
      <a mat-menu-item>stanza 9 - Il Medioevo</a>
      <a mat-menu-item>stanza 10 - Età moderna</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="floor3">
      <span [translate]="'header.link3'"></span>
    </button>
    <mat-menu #floor3="matMenu">
      <a mat-menu-item>Item 1</a>
      <a mat-menu-item>Item 2</a>
      <a mat-menu-item>Item 3</a>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="setting">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #setting="matMenu">
      <button mat-menu-item (click)="useLanguage('it')">ita</button>
      <button mat-menu-item (click)="useLanguage('en')">eng</button>
    </mat-menu>
  </div>
</div>
