#header{position:fixed;top:0;left:0;width:100vw;height:40px;background:#2c3e50;z-index:100;}
.headerLogo{width:100px;height:40px;background:#fff;}
.headerMenu{width:calc(100% - 100px);color:#fff;margin-right:20px;}
