.carousel{
  position:fixed;
  top:80px;
  left:0;
  width: 100vw;
  height:100vh;
  z-index: 1;
}
.slide{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
