@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* html, body { height: 100%; } */
body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  background: #fff;
  /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
  /* background: #dfe3e5; */
}

#mainContent{margin:40px 0 0;z-index:1;}
