.immagine{
  position:fixed;
  top:40px;
  left:0;
  width:100vw;
  height:45vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:1;
}
.overlay{position:relative;width:100vw;height:45vh;}
.testo{position:relative;padding:0 50px 50px;background:#2c3e50;color:#fff;z-index:2;}
.testo>h2{display:block;border-bottom: 1px solid #fff; padding: 15px 0 0; margin: 0;}
